* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: linear-gradient(to top left, #304d63, #b2e7);
}

.game-body {
  margin-top: 5rem;
}

.text {
  text-align: center;
  margin-top: 2rem;
}

.top-line {
  display: flex;
  justify-content: center;
}

.square {
  height: 8rem;
  width: 8rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2rem;
}

.top-central {
  border: 2px solid black;
  border-top-width: 0;
}

.top-left {
  border: 2px solid black;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.top-rigth {
  border: 2px solid black;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.central-left {
  border: 2px solid black;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
}

.central-central {
  border: 2px solid black;
  border-top-width: 0;
  border-right-width: 0;
}

.central-rigth {
  border: 2px solid black;
  border-top-width: 0;
  border-right-width: 0;
}

.bottom-left {
  border: 2px solid black;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}

.bottom-central {
  border: 2px solid black;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}

.bottom-rigth {
  border: 2px solid black;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}
